PORT=7000
SECRET_KEY = "xxx"
DB_DEV = "mongodb://localhost/aga"
DB_TEST = 'mongodb+srv://ayumhrn:Ayumaharani98@cluster0-sjlmn.mongodb.net/test?retryWrites=true&w=majority'
DB_PROD = 'mongodb+srv://ayumhrn:Ayumaharani98@cluster0-sjlmn.mongodb.net/test?retryWrites=true&w=majority'
CLOUDINARY_CLOUD_NAME = "ayumhrn"
CLOUDINARY_API_KEY = '486724194775295'
CLOUDINARY_API_SECRET = "PY0AeFB7C_hw8YhY43pZb9hLK6E"
PICT='/home/william/Desktop/Materi/project/backend/public/images/profpict.png'
HEROKU_API_KEY = '9e2cb4ef-71ea-44fb-8eb9-0fc84bfe19e8'
ci.yml app.name = asuransi-glints-academy
BE_HOME_URL = 'http://asuransi-glints-academy.herokuapp.com/api'
FE_HOME_URL = 'https://staging-aga-project.herokuapp.com/'
